{% load staticfiles %}
<html>
<head>
    <title>Django Girls blog</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
</head>
<body>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class=" jumbotext display-3">Rachel Barcklay</h1>
            <p class="jumbotext lead">Harvey Mudd College | B.S. Physics - Expected 2020 </p>
            <div class = "center">
                <button type="button" class="btn">About</button>
                <button type="button" class="btn">Resume</button>
                <button type="button" class="btn">Portfolio</button>
            </div>
        </div>
    </div>
    <!--<nav class="navbar navbar-inverse bg-inverse container">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand active" href="#">Home</a>
                </div>
                <ul class="nav navbar-nav">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Page 1</a></li>
                    <li><a href="#">Page 2</a></li>
                    <li><a href="#">Page 3</a></li>
                </ul>
            </div>
        </nav>_-->
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
</body>
</html>
