<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <title>Rachel Barcklay</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstr    ap.min.css">                                                                              
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstr    ap-theme.min.css">
    <link rel='stylesheet' href="{% static 'css/home.css' %}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
    <div class = 'container-fluid bg-1 text-center'>
		<h3> Rachel Barcklay </h3>
		<img src = 'http://www.warrenphotographic.co.uk/photography/bigs/35604-Cute-playful-tabby-kitten-6-weeks-old-white-background.jpg' alt = 'Kitten'>
    </div>

<body>

