

.navbar {
	border-radius: 0;
	background: #101010;
}

.page-header {
	background-color: white;
	border-bottom: thick solid gray;
	margin-bottom: 0px;
	/*
	height: 10px;
	border-bottom: 200px;*/
}

.page-header h1 {
	color: #333;
	font-family: times;
	font-weight: bold;
	font-size: 40px;
}

.post {
	background-color: white;
	border-bottom: thin solid #777;
	padding: 10px;
	margin: 10px;
	font-family: Helvetica Neue;
	width: 100%;
}

.post:hover{
	background-color: rgba(206, 222, 230, 0.1);
	border-radius: 10px;
	border: thin solid #7a95a5;
}

a {
	color: #94b8cc
}

a:hover{
	color: #94b8cc;
	text-decoration: none;
}

.jumbotron {
	background-color: rgba(206, 222, 230, .73);
	padding-top: 100px;
	padding-bottom: 50px;
	margin:0px;
}

.jumbotext {
	text-align: center;
}
.center {
	display: flex;
    justify-content: center;
}

.btn {
	margin: 10px;
	border-color: #7a95a5;
	background-color: transparent;
}

.btn:hover {
	background-color: #7a95a5;
}

.display-3 {
	font-family: lobster;
}

.navbar {
	min-height: 50px;
}

